## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [67]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s = "Hi there Sam!"

In [68]:
s = "Hi there Sam!"
x = s.split()
print(x)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [17]:
txt_1 = "The diameter of  {planet},is {diameter} kilometers".format(planet = "Earth", diameter= 12742)

In [69]:
print(txt_1)

The diameter of  Earth,is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [70]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

{** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [71]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
x=d.get("target",'hello')
print(x)

hello

** What is the main difference between a tuple and a list? **

In [ ]:
lists are mutable,whereas tuples are immutable

In [ ]:
lists are denoted analytics[] whereas tuples are denoted as ()

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [73]:
def fun(email):
  return email.split('@')[-1]
fun('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [74]:
def func(st):
    return 'dog' in st.lower().split()
func("My favorite pet is dog")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [75]:
def func(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count
func('My favorite pet is dog ,I love my dog  than other dogs')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [55]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [58]:
caught_speeding(85,False)

'Big Ticket'

In [76]:
caught_speeding(70,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [77]:
emp_salary=[56000,34000,70000,15000,45000]
sum=0
print("salary of first person is:,emp_salary[0]")
print("salary of second person is:,emp_salary[1]")
print("salary of third person is:,emp_salary[2]")
print("salary of four person is:,emp_salary[3]")
print("salary of five person is:,emp_salary[4]")
for x in emp_salary:
   sum=sum+x
print("The total salary is:",sum)

salary of first person is:,emp_salary[0]
salary of second person is:,emp_salary[1]
salary of third person is:,emp_salary[2]
salary of four person is:,emp_salary[3]
salary of five person is:,emp_salary[4]
The total salary is: 220000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [80]:
dict_1={"Empid":1,"Empname":"Madhu","Basicpay":500000}
dict_1

{'Empid': 1, 'Empname': 'Madhu', 'Basicpay': 500000}

In [81]:
dict_2={"DeptName":"Data analytics","DeptId":501}
dict_2

{'DeptName': 'Data analytics', 'DeptId': 501}

In [82]:
dict_1.update(dict_2)
print(dict_1)

{'Empid': 1, 'Empname': 'Madhu', 'Basicpay': 500000, 'DeptName': 'Data analytics', 'DeptId': 501}