## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
import math
print(math.pow(7,4))

2401.0

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there Sam!"
x = s.split()
print(x)

['Hi', 'there', 'Sam!']

In [ ]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [6]:
x = "The diagram of {planet} is {diameter} kilometers."
print(x.format(planet = "Earth", diameter= 12742))

The diagram of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
#list is mutable, whereas a tuple is immutable.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [9]:
def domainGet(inp):
    return inp.split('@')[1]
domainGet('user@domain.com')

'domain.com'

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [10]:
def findDog(inp):
    return 'dog' in inp.lower().split()
findDog('Is there a dog here?')

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [11]:
def countDog(inp):
    dog = 0
    for x in inp.lower().split():
        if x == 'dog':
            dog += 1
    return dog
countDog('This dog runs faster than the other dog dude!')

2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [17]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed = speed - 5
    if speed > 80:
        return 'Big Ticket'
    elif speed > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
caught_speeding(81,True)

'Small Ticket'

In [18]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [19]:
emp_salary=[20000,25000,30000,35000,40000]
total=0
print("salary of 1st person is: emp_salary[0]")
print("salary of 2nd person is: emp_salary[1]")
print("salary of 3rd person is: emp_salary[2]")
print("salary of 4th person is: emp_salary[3]")
print("salary of 5th person is: emp_salary[4]")
for x in emp_salary:
   total=total+x
print("The total salary is:",total)

salary of 1st person is: emp_salary[0]
salary of 2nd person is: emp_salary[1]
salary of 3rd person is: emp_salary[2]
salary of 4th person is: emp_salary[3]
salary of 5th person is: emp_salary[4]
The total salary is: 150000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [21]:
dict_1={"Empid":1,"Empname":"thiru","Basicpay":30000}
dict_2={"DeptName":"cse","DeptId":101}
dict_1.update(dict_2)
print(dict_1)

{'Empid': 1, 'Empname': 'thiru', 'Basicpay': 30000, 'DeptName': 'cse', 'DeptId': 101}